*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    overflow-x: hidden;
}



@font-face{
    font-family: 'nordique Pro bold';
    src: url(/Nordique\ Pro\ Bold.otf) format('truetype');
}

@font-face{
    font-family: 'nordique Pro semibold';
    src: url(/NordiquePro-Semibold.otf) format('truetype');
}

.section2{
    background: url(/assets/img/Rectangle\ 72.png);
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:auto;
    padding-bottom:30em
}

h2{
    font-size: 4rem;
    font-family: nordique Pro bold;
    display: flex;
    justify-content: center;
    color: #202532;
    letter-spacing: 0.4px;
    
}

.section2 iframe{
    width: 60em;
    height: 32em;
    margin-left:30em;
    margin-top: 4em;
    position:relative;
    z-index: 1;

}

.exa1sec2{
    margin-left:15.8em;
    width:20.6em;
}

.exa2sec2{
    margin-top:-4em;
    margin-left:85em;
    position: absolute;

}

.section4{
    background: url(/assets/img/fondoSec4.svg);
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:auto;
    padding-bottom:30em;
}

.exa1sec4{
    margin-left: 11em;
    margin-top:5.1em;
    width:16.8em;
}

.exa2sec4{
    margin-left:15em;
    margin-top:5em;
    width:21em;
    position: absolute;
    z-index: 1;
}

.lista1sec4 {
    display:flex;
    
}

.lista1sec4 div{
    width:20em;
    margin-top: 11em;
    margin-left:18em;
}


.lista1sec4 div h3{
    font-size:8rem;
    color:white;
    font-family: nordique Pro bold;
}

.lista1sec4 div p{
    font-size:2.7rem;
    color:#202532;
    font-family: nordique Pro bold;
    width:8em;
    margin-left:0em;
    margin-top: -0.4em; 
}

.fourth{
    padding-left:0.5em;
}


.teams{
    margin-left: -1.2em;
    
}

.lista2sec4 {
    display:flex;
    
}

.lista2sec4 div {
    margin-top:8em;
    width:20em;
    margin-left:18em;
}

.lista2sec4 div h3{
    font-size:8rem;
    color:white;
    font-family: nordique Pro bold;
}


.lista2sec4 div p{
    font-size:2.7rem;
    color:#202532;
    font-family: nordique Pro bold;
    width:10em;
    margin-top:-0.5em;
}

.section6{
    background: url(../assets/img/fondoSec6.png);
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:auto;
    padding-bottom:350px;
    margin-left:-2px
}

.imgsec6{
    display: flex;
    justify-content: center;
    padding-top: 28em;
}

.imgsec6 img {
    width: 70em;
}

.section6 p{
    color:#E6FFA6;
    font-family: nordique Pro semibold;
    letter-spacing: 1.8px;
    line-height: 35px;
    width:60em;
    font-size: 1.15rem;
    margin-left: 22em;
    margin-top: 3.7em;
    margin-bottom: 7em;
}

.buttonBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background: #33B3E6;
    border-radius: 50px;
    padding: 2.2em 11em;
    font-family: nordique Pro semibold;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;

}

.section8{
    background: url(/assets/img/fondoSec8.png);
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:auto;
    padding-bottom:350px;
}

.mainSec8{
    display: flex;
}
.imgSec8{
    margin-top: 25em;
}

.imgSec8 img{
    width: 100em;
}

.exa1Sec8{
    margin-left: 75em;
    margin-bottom:-20em
}

.textSec8{
    width:60em;
    margin-top:28em;
    margin-left:-22em;
    margin-right: 8em;
}

.h1Sec8{
    font-family: nordique Pro semibold;
    font-size: 6rem;
    color:white;
}

.h2Sec8{
    font-family: nordique Pro bold;
    font-size: 3rem;
    line-height: 70px;
    color:#F692A4;
    margin-top:0.6em;
}

.pSec8{
    font-family: nordique Pro bold;
    font-size: 1rem;
    color:white;
    margin-top:1.5em;
    letter-spacing: 1.5px;
    line-height: 25px;
    margin-bottom:6.9em;
}
